<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <%= f.label "Position", class: 'control-label' %>
    <div class="controls">
      <%= f.select(:position, options_for_select([['Salesperson','Salesperson'], ['Finance Manager', 'Finance Manager'], ['Inventory Manager', 'Inventory Manager']]), { include_blank: true }) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
