<table class="CSSTableGenerator" width="30%">
  <th>Price</th>
  <th>Interest Rate</th>
  <th>Sales Tax</th>
  <th>3 Years</th>
  <th>4 Years</th>
  <th>5 Years</th>
  <tbody>
      <tr>
        <td><%= @price_3_array%></td>
        <td><%= @price_4_array%></td>
        <td><%= @price_5_array%></td>
      </tr>

 </tbody>
</table>