<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="control-group">
      <%= f.label "Customer Name", class: 'control-label' %>
      <div class="controls">
        <%= collection_select nil, :customer_id, Customer.all, :id, :name  %>
      </div>
    </div>
    <div class="field">
      <%= f.label :quote_price %><br>
      <%= f.text_field :quote_price %>
    </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>
  <div class="field">
    <%= f.label :sales_tax %><br>
    <%= f.text_field :tax %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

