<p id="notice"><%= notice %></p>

<h1>Customer Finances Options</h1>
<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Interest Rate</th>
      <th>Sales Tax </th>
      <th>3 Years</th>
      <th>4 Years</th>
      <th>5 Years</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= number_to_currency(finance.quote_price) %></td>
        <td><%= number_to_percentage(finance.interest_rate) %></td>
        <td><%= number_to_percentage(finance.tax) %></td>
        <td><%= @price_3_array%></td>
        <td><%= @price_4_array%></td>
        <td><%= @price_5_array%></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><td><%= link_to 'Show', finance %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><td><%= link_to 'Edit', edit_finance_path(finance) %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></li></ul></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="left">
  <div class="nav-container2">
    <ul class="nav2">
      <li class="active2">
        <%= link_to 'New Finance', new_finance_path %>
      </li>
    </ul>
  </div>
</div>

