<p id="notice"><%= notice %></p>

<p>
  <strong>Interest rate:</strong>
  <%= @finance.interest_rate %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @finance.sales_tax %>
</p>



<table>
  <thead>
   <tr>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_finance_path(@finance) %></li></ul></div></th> |
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Back', finances_path %></li></ul></div></th>
   </tr>
  </thead>
</table>