<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :Select_A_Car %><br>
      <%= f.collection_select :car_id, Car.available, :id, :car_info  %>
    </div>
  <div class="field">
    <%= f.label :New_Customer %><br>
    <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'ADD', new_customer_path %></li></ul></div></td>
  </div>
    <div class="field">
      <%= f.label :Customer_Name %><br>
      <%= f.collection_select :customer_id, Customer.all, :id, :name %>
    </div>
  <div class="field">
    <%= f.label :Sales_Person %><br>
    <%= f.collection_select :staff_id, Staff.salesperson, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quote_date %><br>
    <%= f.date_select :quote_date %>
  </div>
    <div class="control-group">
      <%= f.label "Status", class: 'control-label' %>
      <div class="controls">
        <%= f.select(:status, options_for_select([['Pending', 'Pending'], ['Sold', 'Sold']]), { include_blank: true }) %>
      </div>
    </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
