<p id="notice"><%= notice %></p>

<h1>Make A Quote</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Customer</th>
      <th>Staff</th>
      <th>Price</th>
      <th>Quote date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.car.car_info %></td>
        <td><%= quote.customer.name %></td>
        <td><%= quote.staff.name %></td>
        <td><%= number_to_currency(quote.car.price_cal) %></td>
        <td><%= quote.quote_date %></td>
        <td><%= quote.status %></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Show', quote %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_quote_path(quote) %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></li></ul></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="left">
<div class="nav-container2">
  <ul class="nav2">
    <li class="active2">
    <%= link_to 'New Quote', new_quote_path %>
    </li>
  </ul>
</div>
</div>