<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.car_info %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.name %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @quote.staff.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quote.price %>
</p>

<p>
  <strong>Quote date:</strong>
  <%= @quote.quote_date %>
</p>
<p>
  <strong>Quote status:</strong>
  <%= @quote.status %>
</p>
<table>
 <thead>
  <tr>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_quote_path(@quote) %></li></ul></div></th> |
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Back', quotes_path %></li></ul></div></th>
  </tr>
 </thead>
</table>