<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
       <%= f.label "Status", class: 'control-label' %>
      <div class="controls">
       <%= f.select(:status, options_for_select([['AVALIBLE','AVALIBLE'], ['PENDING', 'PENDING'], ['SOLD', 'SOLD']]), { include_blank: true }) %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
