<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>

<thead>
<tr>
  <th>Make</th>
  <th>Model</th>
  <th>Color</th>
  <th>Vin</th>
  <th>Price</th>
  <th>Status</th>
  <th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @inventories.each do |inventory| %>
    <tr>
      <td><%= @inventory.carInventory.make %></td>
      <td><%= @inventory.carInventory.model %></td>
      <td><%= @inventory.carInventory.color %></td>
      <td><%= @inventory.carInventory.vin %></td>
      <td><%= @inventory.carInventory.price_cal %></td>
      <td><%= @inventory.carInventory.status %></td>
    </tr>
<% end %>
</tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
