<p id="notice"><%= notice %></p>

<h1>Car Dealership Standings</h1>


  <table id="CSSTableGenerator">
    <th>Sales Tax</th>
    <th>Total Gross Revenue</th>
    <th>Net profit</th>
    <br>
    <tbody>
    <tr>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>

    </tbody>
  </table>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= number_to_percentage(owner.tax) %></td>
        <td><%= number_to_currency(owner.total) %></td>
        <td><%= number_to_currency(owner.net) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


