<p id="notice"><%= notice %></p>

<p>
  <strong>Total gross revenue:</strong>
  <%= @owner.total_gross_revenue %>
</p>

<p>
  <strong>Net profit:</strong>
  <%= @owner.net_profit %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
