<h1>Editing Customer</h1>

<%= render 'form' %>
<table>
 <thead>
  <tr>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Show', @customer %></li></ul></div></th> |
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Back', customers_path %></li></ul></div></th>
  </tr>
 </thead>
</table>