<p id="notice"><%= notice %></p>

<h1>Current Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><%= customer.phone %></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Show', customer %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_customer_path(customer) %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></li></ul></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="left">
<div class="nav-container2">
  <ul class="nav2">
    <li class="active2">
    <%= link_to 'New', new_customer_path %>
    </li>
  </ul>
</div>
</div>
