<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>
<table>
 <thead>
  <tr>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_customer_path(@customer) %></li></ul></div></th> |
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Back', customers_path %></li></ul></div></th>
  </tr>
 </thead>
</table>