/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

*{
    box-sizing: border-box;
}
body{
    height:100%;
    background-color: #e8e8e8;

}
div[class="main"]{
    position: absolute;
    left: 330px;
    top: 100px;
    bottom: 20px;
}



table#Inventory, th,td {
    border-collapse: collapse;
    border: 2px solid #808080;
    text-align: left;
    padding-right: 2em;
    height: 20px;
}

h1{
    position: relative;
    left: 0px;
    top: -50px;
    bottom: 20px;
    font-size:2em;
    text-align:center;
    color: #545d80;
    letter-spacing:1px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
h2.pos_top {
    position: relative;
    top: -420px;
    font-size:2em;
    text-align:center;
    color: #545d80;
    letter-spacing:1px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
tbody{
    font-size:1em;
    text-align:center;
    color: #242949;
    letter-spacing:.5px;
}

.nav-container{
    width:200px;
    margin-top:60px;
    box-shadow: 0 2px 2px 2px #808080;
    transition: all 0.3s linear;
}
.nav{
    list-style-type:none;
    margin:0;
    padding:0;
}
li{
    height:50px;
    position:relative;
    background: linear-gradient(#d9d9d9, #545d80);
}

.nav-container2{
    width:100px;
    margin-top:1px;
    box-shadow: 0 0px 0px 0px #808080;
    transition: all 0.3s linear;
}
.nav2{
    list-style-type:none;
    height: 50px;
    width: 110px;
    font-size: .9em;
    margin: 1px;
    padding: 1px;


}
.active2 a{
    color: #e8e8e8;
    border-left:5px solid #d9d9d9;
    background-color: #545d80;
    outline:0;
}
div [class="left"] {
    position: fixed;
    top: 425px;
    left: 80px;

}

a {
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #808080;
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
    line-height:50px;
    color:#bbb;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:25%;
    border-left:5px solid transparent;
    letter-spacing:1px;
    transition: all 0.3s linear;
}
.active a{
    color: #d9d9d9;
    border-left:5px solid #d9d9d9;
    background-color: #545d80;
    outline:0;
}
li:not(.active):hover a{
    color: #d9d9d9;
    border-left: 5px solid #FCFCFC;
    background-color: #808080;
}
span[class ^= "icon"]{
    position:absolute;
    left:20px;
    font-size: 1.5em;
    transition: all 0.3s linear;
}

@media only screen and (max-width : 860px){

    .text{
        display:none;
    }

    .nav-container , a{
        width: 70px;

    }

    a:hover{
        width:200px;
        z-index:1;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid #d9d9d9;
        box-shadow: 0 0 1px 1px #d9d9d9;
    }

    a:hover  .text {
        display:block;
        padding-left:30%;
    }
}
@media only screen and (max-width : 480px){
    .nav-container, a{ width:50px;}
    span[class ^= "icon"]{ left:8px;}
}

