<h1>Editing Car</h1>

<%= render 'form' %>
 <table>
  <thead>
   <tr>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Show', @car %></li></ul></div></th>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Back', cars_path %></li></ul></div></th>
  </tr>
 </thead>
 </table>