<p id="notice"><%= notice %></p>

<h1>Current Cars</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Vin</th>
      <th>Price</th>
      <th>Whole sale price</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.price_cal) %></td>
        <td><%= number_to_currency(car.whole_sale_price) %></td>
        <td><%= car.status %></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Show', car %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_car_path(car) %></li></ul></div></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></li></ul></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="left">
<div class="nav-container2">
 <ul class="nav2">
  <li class="active2">
  <%= link_to 'New', new_car_path %>
  </li>
 </ul>
</div>
</div>