<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Inventory</h1>
<table id="Inventory">
  <thead>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Color</th>
    <th>Vin</th>
    <th>Price</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.price_cal) %></td>
        <td><%= car.status %></td>
        <td><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_car_path(car) %></li></ul></div></td>

      </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>