<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Whole sale price:</strong>
  <%= number_to_currency(@car.whole_sale_price) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@car.price_cal) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car.status %>
</p>

<table>
 <thead>
  <tr>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Edit', edit_car_path(@car) %></li></ul></div></th>
    <th><div class="nav-container2"><ul class="nav2"><li class="active2"><%= link_to 'Back', cars_path %></li></ul></div></th>
  </tr>
 </thead>
</table>
