<!DOCTYPE html>
<html>
<head>
  <title>CarDealership</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav-container">
  <ul class="nav">
    <li class="active">
      <a href="/quotes" class="quotes"><span class="icon=home"></span><span class="text">home</span></a></li>
    <li>
      <a href="/customers" class="customers"><span class="icon=customer"></span><span class="text">customer</span></a></li>
    <li>
      <a href="/cars/inventory" class="inventories"><span class="icon=inventory"></span><span class="text">inventory</span></a></li>
    <li>
      <a href="/finances" class="finances"><span class="icon=finance"></span><span class="text">finance</span></a></li>
    <li>
      <a href="/staffs" class="staffs"><span class="icon=staff"></span><span class="text">staff</span></a></li>
    <li>
      <a href="/cars" class="cars"><span class="icon=cars"></span><span class="text">cars</span></a></li>
    <li>
      <a href="/owners" class="owners"><span class="icon=owner"></span><span class="text">owner</span></a></li>
  </ul>
</div>
  <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
  <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
  <% elsif flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
  <% end %>
  <h2 class="pos_top">Fierro Car Dealership</h2>
  <div class="main">
    <%= yield %>
  </div>
 </div>
</body>
</html>
